.accordian {
  font-size: 14px;
}

.title {
  align-items: center;
  border: none;
  background: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  text-align: start;
  width: 75%;
}

.title:hover {
  background-color: #eee;
}

.accordianIcon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(45deg);
  width: 8px;
}

.rotated {
  transform: translateY(2px) rotate(-135deg);
}