.board {
  width: 320px;
  height: 350px;
  background-color: brown;
}

.topRow {
  font-size: 18px;
  font-weight: bold;
}

.time {
  position: relative;
  left: 150px;
}

.row {
  display: flex;
  height: 100px;
  width: 320px;
  margin-bottom: 10px;
}

.column {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

/* not sure why it pushes down a bit when swapping in*/
.mole {
  position: relative;
  top: 20px;
  left: 20px;
  width: 66%;
  height: 66%;
}

.hole {
  position: relative;
  /* top: 66px; */
  width: 100px;
  height: 33%;
  z-index: 1;
}