
a {
  color: inherit;
  text-decoration: none;
}

div.progressContainer {
  width: 500px;
  height: 10px;
  background-color: lightgray;
  margin-bottom: 10px;
}

div.progress {
  width: 0px;
  height: 10px;
  background-color: green;

  animation-duration: 2s;
  animation-name: progress;
  animation-fill-mode: forwards;
}

@keyframes progress {
  from {
    width: 0px;
  }

  to {
    width: 500px;
  }
}

.dice-zone {
  width: 225px;
  text-wrap: wrap;
  background-color: lightgray;
}

.die {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  background-color: white;
}

.die-row {
  display: flex;
  height: 33%;
}

.die-column {
  display: block;
  width: 33%;
}

.pip {
  display: inline-block;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.directory-title {
  font-weight: bold;
}

.directory-offset {
  margin-left: 10px;
}

.like-button {
  border-radius: 25%;
  background-color: white;
  box-shadow: none;
}

.like-button:hover {
  color: #f00;
  border-color: #f00;
}

.like-button.liked {
  background-color: #f00;
  border-color: #f00;
  color: white;
  box-shadow: none;
}

body.dim {
  background-color: rgba(0,0,0,0.7);
}

.modal {
  position: absolute;
  top: calc(50% - 107px);
  left: calc(50% - 250px);
  text-align: center;
  width: 500px;
  z-index: 1;
  background-color: white;
  padding: 20px;
}

.modal > p {
  text-align: left;
}

.star-rating > span {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.star-rating > span > svg {
  pointer-events: none;
}

.star-rating > span > svg > path {
  pointer-events: none;
}

.star-rating > span > .star-icon {
  --icon-size: 32px;
  height: var(--icon-size);
  width: var(--icon-size);
}

.star-rating > span > .star-icon-filled {
  fill: yellow;
}

.traffic-sign {
  width: 200px;
  height: 430px;
  border-radius: 5%;
  background-color: black;
}

.traffic-row {
  height: 140px;
  width: 100%;
  line-height: 140px;
  text-align: center;
}

.traffic-light {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: gray;
  vertical-align: middle;
}

.traffic-light.red {
  background-color: red;
}

.traffic-light.yellow {
  background-color: yellow;
}

.traffic-light.green {
  background-color: green;
}

.clock {
  width: 620px;
  height: 210px;
  border: 10px solid lightgray;
  background-color: black;
  border-radius: 2%;
  color: white;
  font-size: 200px;
  text-align: center;
  line-height: 170px;
  vertical-align: center;
}

.clock > time {
  display: flex;
  width: 620px;
  height: 210px;
}

.digit-container {
  display: inline-block;
  height: 210px;
  width: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

.digit-row {
  display: flex;
}

.digit-short-row {
  height: 30px;
}

.digit-tall-row {
  height: 60px;
}

.digit-column {
  display: inline-block;
  height: 100%;
}

.digit-column-short {
  width: 20px;
}

.digit-column-wide {
  width: 40px;
}

.big-colon {
  display: inline-block;
  height: 210px;
  width: 40px;
}

.rectangle {
  background-color: white;;
}

.triangle-bottom-right {
  width: 0;
  height: 0;
  border-bottom: 30px solid white;
  border-left: 20px solid transparent;
}

.triangle-bottom-left {
  width: 0;
  height: 0;
  border-bottom: 30px solid white;
  border-right: 20px solid transparent;
}

.triangle-top-right {
  width: 0;
  height: 0;
  border-top: 30px solid white;
  border-left: 20px solid transparent;
}

.triangle-top-left {
  width: 0;
  height: 0;
  border-top: 30px solid white;
  border-right: 20px solid transparent;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid white;
  border-bottom: 15px solid transparent;
}

.inverse-triangle-right {
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 20px solid transparent;
  border-bottom: 15px solid white;
}

.inverse-triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-right: 20px solid transparent;
  border-bottom: 15px solid white;
}

.ttt-board {
  width: 300px;
  height: 300px;
}

.ttt-board > div.row {
  display: flex;
  line-height: 100px;
}

.ttt-board > div.row > div.column {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

.ttt-board > div.row > div.column.r0-c0{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.ttt-board > div.row > div.column.r0-c1{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.ttt-board > div.row > div.column.r0-c2{
  border-bottom: 1px solid black;
}

.ttt-board > div.row > div.column.r1-c0{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.ttt-board > div.row > div.column.r1-c1{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.ttt-board > div.row > div.column.r1-c2{
  border-bottom: 1px solid black;
}

.ttt-board > div.row > div.column.r2-c0{
  border-right: 1px solid black;
}

.ttt-board > div.row > div.column.r2-c1{
  border-right: 1px solid black;
}

article.carousel {
  max-width: 600px;
  max-height: 400px;
  width: min(100vw, 600px);
  height: min(100vh, 400px);
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  background-color: black;
}

img.carousel-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

article.carousel > button.prev {
  z-index: 1;
  position: absolute;
  top: calc(50% - 10px);
  left: 3%;
}

article.carousel > button.next {
  z-index: 1;
  position: absolute;
  top: calc(50% - 10px);
  right: 3%;
}

article.carousel > div.button-row {
  z-index: 1;
  position: absolute;
  bottom: 3%;
  left: calc(50% - 48px);
}

article.carousel > div.button-row > button.nav {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: gray;
}

article.carousel > div.button-row > button.nav.active {
  background-color: white;
}

article.transfer-list {
  display: flex;
}

article.transfer-list > ul.list {
  display: inline-block;
}

article.transfer-list > div.button-row {
  display: inline-block;
}

article.checkbox-test > div > label.bold {
  font-weight: bold;
}

div.nested-checkbox-row {
  margin-left: 10px;
}

label.nested-checkbox-indeterminate {
  font-weight: bold;
}

article.grid-lights {
  width: 320px;
  height: 320px;
}

div.grid-row {
  display: flex;
  width: 320px;
  height: 100px;
  margin-bottom: 10px;
}

div.grid-light {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid black;
}

div.grid-light.active {
  background-color: green;
}

article.histogram {
  display: flex;
}

article.histogram > div.y-axis {
  display: inline-block;
  width: 50px;
}

article.histogram > div.y-axis > div.y-step {
  height: 50px;
  border-right: 1px solid black;
}

article.histogram > div.y-axis > div.y-step-0 {
  height: 10px;
}

article.histogram > div.graph {
  display: flex;
  height: 210px;
}

article.histogram > div.graph > div.x-column {
  display: inline-block;
  width: 50px;
  height: 100%;
  text-align: center;
}

article.histogram > div.graph > div.x-column > div.x-bar {
  background-color: purple;
  position: relative;
  width: 30px;
  left: 10px;
}

article.histogram > div.graph > div.x-column > div.x-footer {
  position: relative;
  border-top: 1px solid black;
}